html
head
  link(href='/crown/stylesheets/crown.css' rel='stylesheet')
  link(href='/stylesheets/style.css' rel='stylesheet')

body
  #hmenu
    if in_private
      img(src="/images/sse_logo_words_scaled.png")
    else
      img(src="http://lorempixel.com/300/84")
    ul
      li 
        a(href='Calendar') Calendar
      li
        a(href='Events') Occurrances
      li
        a(href='About') About
      li

  #SponsorContent
    h1 Commercial Sponsors

    #SponsorGold
      h2="Gold Level Sponsors"
      img(src='http://lorempixel.com/400/300')
      img(src='http://lorempixel.com/400/300')
      img(src='http://lorempixel.com/400/300')
      img(src='http://lorempixel.com/400/300')
      img(src='http://lorempixel.com/400/300')
      img(src='http://lorempixel.com/400/300')
      img(src='http://lorempixel.com/400/300')

    #SponsorSilver
      h3="Silver Level Sponsors"
      img(src='http://lorempixel.com/200/150')
      img(src='http://lorempixel.com/200/150')
      img(src='http://lorempixel.com/200/150')
      img(src='http://lorempixel.com/200/150')
      img(src='http://lorempixel.com/200/150')
      img(src='http://lorempixel.com/200/150')
      img(src='http://lorempixel.com/200/150')

    #SponsorBronze
      h4="Bronze Level Sponsors"
      img(src='http://lorempixel.com/100/75')
      img(src='http://lorempixel.com/100/75')
      img(src='http://lorempixel.com/100/75')
      img(src='http://lorempixel.com/100/75')
      img(src='http://lorempixel.com/100/75')
      img(src='http://lorempixel.com/100/75')
      img(src='http://lorempixel.com/100/75')

    #SponsorPast
      h5="Past Sponsors"
      p Name Name
      p Name Name
      p Name Name

    #SponsorAlumni
      h1 Alumni Supporters
      p Person
      p Person
      p Person
      p Person

  #BecomeSponsor
    h2="How to become a sponsor"
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum malesuada mollis. Nunc nec vehicula dolor. Sed id rhoncus mi, sed molestie mi. Proin id ultricies lectus. Nullam faucibus massa in lectus elementum tincidunt. Maecenas vitae magna quis sem vestibulum vulputate. Pellentesque commodo, lectus quis congue sodales, quam leo gravida nisl, et pellentesque erat sapien in velit. Etiam sit amet volutpat sapien, eu aliquet ligula. Ut id lacus tempor, tempor lectus quis, consectetur nulla.
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum malesuada mollis. Nunc nec vehicula dolor. Sed id rhoncus mi, sed molestie mi. Proin id ultricies lectus. Nullam faucibus massa in lectus elementum tincidunt. Maecenas vitae magna quis sem vestibulum vulputate. Pellentesque commodo, lectus quis congue sodales, quam leo gravida nisl, et pellentesque erat sapien in velit. Etiam sit amet volutpat sapien, eu aliquet ligula. Ut id lacus tempor, tempor lectus quis, consectetur nulla.

    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum malesuada mollis. Nunc nec vehicula dolor. Sed id rhoncus mi, sed molestie mi. Proin id ultricies lectus. Nullam faucibus massa in lectus elementum tincidunt. Maecenas vitae magna quis sem vestibulum vulputate. Pellentesque commodo, lectus quis congue sodales, quam leo gravida nisl, et pellentesque erat sapien in velit. Etiam sit amet volutpat sapien, eu aliquet ligula. Ut id lacus tempor, tempor lectus quis, consectetur nulla.
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum malesuada mollis. Nunc nec vehicula dolor. Sed id rhoncus mi, sed molestie mi. Proin id ultricies lectus. Nullam faucibus massa in lectus elementum tincidunt. Maecenas vitae magna quis sem vestibulum vulputate. Pellentesque commodo, lectus quis congue sodales, quam leo gravida nisl, et pellentesque erat sapien in velit. Etiam sit amet volutpat sapien, eu aliquet ligula. Ut id lacus tempor, tempor lectus quis, consectetur nulla.

